
@font-face {
  font-family: coolFont;
  src: url(Gidole-Regular.otf);
}


body{
	  	font-family: coolFont;
		background-image:url("../img/sfondo.jpg");
		color:white;}
h1{
		width:50%;
		margin:auto;
		color:white;}
td{
		border:2px solid black;
		padding: 8px;}
